* {
  box-sizing: border-box;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.TableScroll{
  width: 100%;
  overflow: auto;
  overflow-y: hidden; 
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

input, select {
  width: 100%;
  max-width: 150px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

textarea{
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  float: left;
  max-width: 100%;
  max-width: 600px;
  margin-top: 6px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

button[type=submit] {
  width: 100%;
  max-width: 150px;
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #45a049;
}

.plusMinus{
  float: left;
  width: 5%;
  margin-top: 6px;
  padding: 1%;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.container {
  border-radius: 5px;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 20%;
  margin-top: 6px;
  padding: 1%;
}

.col-75 {
  float: left;
  width: 70%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 680px) {
  .col-25, .col-75, input{
    width: 100%;
    margin-top: 0;
  }
  .plusMinus{
    margin-top: 0px;
  }
}
@media screen and (max-width: 300px) {
  .plusMinus{
    padding: 1% 5% 1% 1%;
  }
}